//====CONTAINER FOR EXISTING OPTIONS==============
.optionlist{
  @include nopad;
  //padding-left: 20px;
}

//====LS ITEMS IN OPTIONLIST======================
.optionlistval{
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
}

.votelabel{
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 10px 0px 10px 0px;
  padding-left: 50px;
  padding-top: 20px;
  position: relative;
  transition: color 0.2s linear;
  width: 80%;
}

.vote{
  cursor: pointer;
  display: block;
  height: 20px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 20px;
  opacity: 0;

  & ~ .check {
    background: $charcoal;
    border: solid white 2px;
    border-radius: 50%;
    display: block;
    height: 20px;
    margin: 3px 3px 0px 5px;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition: background 0.2s linear;
    width: 20px;
    z-index: -1;
  }

  &:checked + label, &:hover + label{
    color: $reallydarkred;
  }

  &:checked ~ .check, &:hover ~ .check{
    background: #FFF;
  }

  &:focus{
    outline: none;
  }
}