@mixin nopad{
  padding: 0;
  margin : 0;
}

@mixin clearfix{
  clear: both;
  overflow: hidden;
}


@mixin pseudo{
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%;
  z-index: -1;
}

$sandy: #EAD2AC;
$darkred: #FE938C;
$reallydarkred: #ED6A5A;
$lightred: #E6B89C;
$darkblue: #4281A4;
$lightblue: #9CAFB7;
$platinum: #E6EBE0;
$charcoal: #1B1B1E;
$charcoal-light: hsl(hue($charcoal), 3, 15);

$sans: 'Raleway', sans-serif;

body, html{
  padding: 0;
  margin: 0;
}
body{
  font-family: $sans;
  background: $charcoal;
  color: #FFF;
}

a.charts{
  color: #FFFFFF;
  text-decoration: none !important;
  font-size: 0.8em;
  &:link, &:active{
    color: #FFFFFF;
  }
}

h1.chartname{
  color: #FFF !important;
  text-align: center;
  text-decoration: none !important;
  font-weight: 300;
}