@import "utils/navbar.scss";
@import "utils/modal.scss";
@import "utils/buttons.scss";

.home {
  & canvas{
    box-shadow: 0px 2px 5px fade-out(#000, 0.8);
    float: left;
    padding-bottom: 15px;
    transition: transform 0.2s linear;

    &:hover{
      transform: scale(1.03);
    }
  }

  & .allcharts {
    display:block; 
    margin-top:20px;

    & .charts{
      display: inline-block;
      padding: 0.5%;
      width: 32%; 
    }
  }
}

@media (max-width: 924px){
  .home{

    & .allcharts{

      & .charts{
        width: 48%;
      }
    }
  }
}

@media(max-width: 565px){
  .home{

    & .allcharts{

      & .charts{
        margin-bottom: 3em;
        width: 99%;

        & canvas:hover{
          transform: none;
        }
      }
    }
  }
}