@import "utils/navbar.scss";
.single {
  display: block;

  & .allcharts {
    display:block; 
    margin-top:20px;   
    padding: 0 20px 0 20px;
    
    & .charts{
      display: inline-block;
      float: left;
      position:relative;
      width: 50%; 

      & canvas{
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
  }
}

.options{
  display: block;
  float: left;
  padding-bottom: 20px;
  padding-top: 50px;
  width: 50%;

  ul{
    @include nopad;
    padding-left: 20px;

    li{
      display: block;
      float: left;
      margin: 10px 0px 10px 0px;
      position: relative;
      width: 100%;
      
      & .votelabel{
        cursor: pointer;
        display: inline-block;
        float: left;
        margin-left: 50px;
        margin-top: 10px;
        position: relative;
        width: 80%;
      }

      & .vote{
        cursor: pointer;
        display: block;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: 30px;
      }
    }
  }
}

@media(max-width: 924px){
  .single{

    & .allcharts{

      & .charts{
        width: 99%;

        & canvas:hover{
          transform: none;
        }
      }
    }
  }

  .options{
    position: relative;
    width: 100%;

    ul{
      @include nopad;

      li {

        & .votelabel{
          width: calc(100% - 80px);
        }
      }
    }
  }
}