doctype html
html
  head 
    title Home Page
    link(rel="stylesheet", type="text/css",href="css/style.css")
  nav
    ul
      if logged
        li 
          a(href="/auth/facebook") Facebook
        li
          a(href="/auth/google") Google
      else
        li
          a(href="/auth/logout") Logout
  body
    p #{message}
    if !logged
      div.userpolls 
        a(href="/polls") My Polls