doctype html
html
  head 
    title QuickPoll: Fast and Easy Polls
    link(rel="stylesheet", type="text/css",href="css/home.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet")
  body
    include navbar.pug
    if logged
      include loginmodal.pug

    div.home
      div.allcharts(id="allcharts")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js")
    script(src="js/createCharts.js")
    script.
      qwest.get('/polls/all')
      .then(function(xhr, response){
        createCharts(response.polls, document.getElementById('allcharts'), false);
      });
      var e=function(el){return document.getElementById(el)},$c=e('modal-cross'),$m=e('modalcontain');e('authlogin').addEventListener('click',function(e){$m.classList.add('visiblemodal');});$c.addEventListener('click',function(e){$m.classList.remove('visiblemodal');})