doctype html
html
  head 
    title Home Page
    link(rel="stylesheet", type="text/css",href="css/style.css")
  nav
    ul
      li
        a(href="/login") Login 
      li 
        a(href="/auth") Authenticated page
  body
    p #{message}