doctype html
html
  head 
    title Polls
    link(rel="stylesheet" href="css/polls.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet")
    //link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet")
  body
    include navbar.pug
    input.options(type="text", name="header" required)
    input.options(type="text", name="option" required)
    input.options(type="text", name="option" required)
    input.options(type="text", name="option" required)
    input(type="text" id="charttype" required)
    button(id="submit-button")  SUBMIT
    input.deleteoption(type="text", name="delete", id="deleteval")
    button(id="delete-button") DELETE
    input.voteoption(type="text", name="vote", id="voteval")
    input.voteoption(type="text", name="vote", id="choiceval")
    button(id="vote-button") VOTE
    input.addoption(type="text", name="addoption", id="optionval")
    input.addoption(type="text", name="addoption", id="optionchoice")
    button(id="addoption-button") ADD OPTION
  script(src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
  script(src="js/pollspage.js")
  script(src="js/createCharts.js")