doctype html
html
  head 
    title QuickPoll: Fast and Easy Polls
    link(rel="stylesheet", type="text/css",href="css/single.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet")
  body
    include navbar.pug
        
    div.single
      div.allcharts(id=pollid)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js")
    script(src="js/createCharts.js")
    script.
      var a=document.getElementsByClassName('allcharts')[0],i=a.getAttribute('id');qwest.get('/polls/getone/'+i).then((x, r)=>{createCharts(r.poll, a, true);}).catch((e)=>{console.log(e);});