doctype html
html
  head 
    title QuickPoll: Fast and Easy Polls
    link(rel="stylesheet", type="text/css",href="css/single.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet")
  body
    include navbar.pug
        
    div.single
      div.allcharts(id=pollid)
        form.options(id="votes" method="post" action="polls/vote/"+pollid)
          ul.optionlist(id="optionlist")
          div.optionlistval.addoptionval
            input.radio.addoptionradio.vote(type="radio" id="addoptionradio" name="vote" value="add")
            label.addoptionradio.votelabel(for="addoptionradio") Add Option
              div.addoptioncontain
                input.addoption(id="addoption" type="text" placeholder="Add your own option" name="addoption")
          input.submit(type="submit" value="vote")
          
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js")
    script(src="js/createCharts.js")
    script.
      function createVotes(arr){
        for(var i=0; i<arr.length; i++){
          var 
            id = "vote-"+i,
            _in = document.createElement('input'),
            label = document.createElement('label'),
            li= document.createElement('li');

          _in.classList.add('vote'),
          _in.setAttribute('type', 'radio'),
          _in.setAttribute('name', 'vote'),
          _in.setAttribute('id', id),
          _in.setAttribute('value', i),
          label.setAttribute('for', id),
          label.classList.add('votelabel'),
          label.innerHTML = arr[i].optionName;
          if(i===0) _in.setAttribute('checked', true);
          li.classList.add('optionlistval'),
          li.appendChild(_in),
          li.appendChild(label);

          document.getElementById('optionlist').appendChild(li);
        }
      }

      

      var a=document.getElementsByClassName('allcharts')[0],
      i=a.getAttribute('id');
      qwest.get('/polls/getone/'+i)
        .then((x, r)=>{
        console.log(x, r);
        createCharts(r.poll, a, true);
        console.log(r.poll.options);
        createVotes(r.poll[0].options);
        })
        .catch((e)=>{console.log(e);});